#Logo{
    width: 200px; 
    padding-right: 20px;
   }

   footer {
    position: fixed;
    left: 0;
    bottom: 0;
    display: inline-flex;
    width: 100vw;
    background-color:whitesmoke;
    padding-right:  13.1em;
    font-family: 'Sail';
    font-size: 1.2em;
   }

   .title{
    text-align: center;
    padding-top: 2em;
    font-family: 'Sail';
    color: white;
}

.navbar-brand{
font-family: 'Sail';
font-size: 2em;
}

.nav-link{
    font-family: 'Sail';
    font-size: 2em;
}

body{
background: whitesmoke url('Weihnachten.jpg') no-repeat center;
background-size: cover;
    display: block;
}

  .col-md-6{
      color: white;
      font-family: 'Sail';
      font-size: 1em;
  }

  .Contact{
    color: white;
    font-family: 'Sail';
    padding-left: 10px;
  }

  .impressum{
    color: white;
    font-family: 'Sail';
    padding-left: 10px;
  }
