#Logo{
    width: 250px; 
    padding-right: 20px;
   }

   footer {
    position: fixed;
    left: 0;
    bottom: 0;
    display: inline-flex;
    width: 100vw;
    background-color:whitesmoke;
    color:black;
    margin-right: 20px;
    padding-right:  13.1em;
    height: 120px;
    z-index: 20;
    font-family: 'Sail';
    font-size: 1.2em;
   }

   .title{
    text-align: center;
    padding-top: 5em;
    font-family: 'Sail';
    color: white;
}

.navbar-brand{
font-family: 'Sail';
font-size: 2em;
}

.nav-link{
    font-family: 'Sail';
    font-size: 2em;
}

body{
background: whitesmoke url('Weihnachten.jpg') no-repeat center;
background-size: cover;
}