#Logo{
    width: 250px; 
    padding-right: 20px;
   }

   footer {
    position: fixed;
    left: 0;
    bottom: 0;
    display: inline-flex;
    width: 100vw;
    background-color:whitesmoke;
    color:black;
    margin-right: 20px;
    padding-right:  13.1em;
    height: 120px;
    z-index: 20;
    font-family: 'Sail';
    font-size: 1.2em;
   }

   .title{
    text-align: center;
    padding-top: 3em;
    font-family: 'Sail';
    color: white;
}

.navbar-brand{
font-family: 'Sail';
font-size: 2em;
}

.nav-link{
    font-family: 'Sail';
    font-size: 2em;
}

body{
background: whitesmoke url('Weihnachten.jpg') no-repeat center;
background-size: cover;
}


#Landhockeyblog {
    z-index: 1;
    display: block;
    background-color: rgba(00, 00, 00, 0.5);
    opacity: 50%;
    position: relative;
    top: 50%;
    width: 500px;
    height: 60px;
    margin-top: 1px;
    padding: right 5px;
    font-size: 3em;
    transform: translate(0px 2em);    
  }

  .col-md-6{
      color: white;
  }